<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="05双端机械臂.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-3.90374907748778E-05 -1.17155978242994E-06 0.0401493283700913"
        rpy="0 0 0" />
      <mass
        value="0.066822750433732" />
      <inertia
        ixx="2.37877298337049E-05"
        ixy="-4.69195441128232E-09"
        ixz="-5.26909185423461E-08"
        iyy="3.41945671202783E-05"
        iyz="4.187830527744E-10"
        izz="5.61602575377852E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="yuntai">
    <inertial>
      <origin
        xyz="0.000138385263578698 1.34191770742725E-05 0.00897570558828648"
        rpy="0 0 0" />
      <mass
        value="0.0350606384576612" />
      <inertia
        ixx="2.87950444745209E-06"
        ixy="5.73864821764788E-20"
        ixz="2.55096105513473E-21"
        iyy="0.00028616638924974"
        iyz="2.45699813883867E-21"
        izz="0.000286219077291257" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/yuntai.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/yuntai.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="yuntai"
    type="revolute">
    <origin
      xyz="0 0 0.0565"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="yuntai" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left1">
    <inertial>
      <origin
        xyz="0.0625813385469721 0.00741979647835644 0.00604795296736343"
        rpy="0 0 0" />
      <mass
        value="0.105541043988117" />
      <inertia
        ixx="2.1324325369082E-05"
        ixy="8.08656112403125E-07"
        ixz="2.16081563697364E-06"
        iyy="5.51360559169799E-05"
        iyz="4.57042647800297E-07"
        izz="4.44048948341639E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/left1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/left1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left1"
    type="revolute">
    <origin
      xyz="-0.165 0.00625 0.01"
      rpy="1.5708 0 0" />
    <parent
      link="yuntai" />
    <child
      link="left1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left2">
    <inertial>
      <origin
        xyz="0.178348318618332 -8.40191458073569E-10 -0.00507432686743642"
        rpy="0 0 0" />
      <mass
        value="0.0594508258557591" />
      <inertia
        ixx="8.83718900466966E-06"
        ixy="6.57687562528797E-13"
        ixz="1.52335567782274E-07"
        iyy="4.91263271010238E-05"
        iyz="-3.74306623016931E-13"
        izz="4.5031837913994E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/left2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/left2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left2"
    type="revolute">
    <origin
      xyz="0.14795 0.02 0.00935"
      rpy="0 0 -3.1416" />
    <parent
      link="left1" />
    <child
      link="left2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left3">
    <inertial>
      <origin
        xyz="0.0546460458217438 0.000352821835570338 -0.0255515985489677"
        rpy="0 0 0" />
      <mass
        value="0.0717898152307374" />
      <inertia
        ixx="3.59837239679069E-05"
        ixy="4.94697293520157E-06"
        ixz="-5.26054001267703E-07"
        iyy="4.52279808959424E-05"
        iyz="-1.71037224809749E-07"
        izz="3.11740032099198E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/left3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/left3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left3"
    type="revolute">
    <origin
      xyz="0.213 0 0.0229"
      rpy="0 0 1.5708" />
    <parent
      link="left2" />
    <child
      link="left3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left4">
    <inertial>
      <origin
        xyz="-0.0213546888236644 -3.88578058618805E-16 5.55111512312578E-17"
        rpy="0 0 0" />
      <mass
        value="0.098687873771068" />
      <inertia
        ixx="1.55691033654856E-05"
        ixy="4.85544655468028E-22"
        ixz="9.37865643068236E-21"
        iyy="2.00162772748723E-05"
        iyz="-1.6940658945086E-21"
        izz="2.00162772748723E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/left4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/left4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left4"
    type="continuous">
    <origin
      xyz="0.1058 0.0275 -0.026"
      rpy="1.5708 0 0" />
    <parent
      link="left3" />
    <child
      link="left4" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="right1">
    <inertial>
      <origin
        xyz="0.0148135552470644 0.00127455549747076 -0.0122774511004264"
        rpy="0 0 0" />
      <mass
        value="0.0611657666488922" />
      <inertia
        ixx="1.50896428833051E-05"
        ixy="8.08482818875805E-07"
        ixz="2.21273720043912E-06"
        iyy="2.86270657726065E-05"
        iyz="4.57042647800669E-07"
        izz="2.10652706092906E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/right1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/right1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right1"
    type="revolute">
    <origin
      xyz="0.165 -0.00625 0.01"
      rpy="1.5708 0 3.1416" />
    <parent
      link="yuntai" />
    <child
      link="right1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right2">
    <inertial>
      <origin
        xyz="0.178348318624939 1.31277283488274E-09 0.00507432710242653"
        rpy="0 0 0" />
      <mass
        value="0.059450825942565" />
      <inertia
        ixx="8.83718890901745E-06"
        ixy="-8.75582403258549E-13"
        ixz="-1.52335729337376E-07"
        iyy="4.9126326746524E-05"
        iyz="-1.17657231771213E-12"
        izz="4.50318381903904E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/right2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/right2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right2"
    type="revolute">
    <origin
      xyz="0.14795 0.02 0.00935"
      rpy="-3.1416 0 -3.1416" />
    <parent
      link="right1" />
    <child
      link="right2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right3">
    <inertial>
      <origin
        xyz="0.0552233778617137 -0.000356549376091225 0.0258194078186913"
        rpy="0 0 0" />
      <mass
        value="0.0710392896004507" />
      <inertia
        ixx="3.5964710018301E-05"
        ixy="-4.94697293520157E-06"
        ixz="5.26054001267606E-07"
        iyy="4.52089669463365E-05"
        iyz="-1.71037224810022E-07"
        izz="3.1137418350727E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/right3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/right3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right3"
    type="revolute">
    <origin
      xyz="0.213 0 -0.0229"
      rpy="0 0 -1.5708" />
    <parent
      link="right2" />
    <child
      link="right3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right4">
    <inertial>
      <origin
        xyz="-0.0213546888236643 0 -2.77555756156289E-17"
        rpy="0 0 0" />
      <mass
        value="0.0986878737710681" />
      <inertia
        ixx="1.55691033654856E-05"
        ixy="1.19446044078686E-21"
        ixz="1.69785175924192E-22"
        iyy="2.00162772748723E-05"
        iyz="0"
        izz="2.00162772748724E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/right4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/right4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right4"
    type="continuous">
    <origin
      xyz="0.1058 -0.0275 0.026"
      rpy="-1.5708 0 0" />
    <parent
      link="right3" />
    <child
      link="right4" />
    <axis
      xyz="1 0 0" />
  </joint>
</robot>