<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="arm">
  <ros2_control name="arm_hw" type="system">
    <hardware>
      <plugin>mujoco_ros2_control/MujocoSystem</plugin>
    </hardware>

    <joint name="yuntai">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort"/>
    </joint>

    <joint name="left1">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort"/>
    </joint>

    <joint name="left2">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort"/>
    </joint>

    <joint name="left3">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort"/>
    </joint>

    <joint name="right1">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort"/>
    </joint>

    <joint name="right2">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort"/>
    </joint>

    <joint name="right3">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-3.90374907748708E-05 -1.17155978242994E-06 0.0401493283700913"
        rpy="0 0 0" />
      <mass
        value="0.066822750433732" />
      <inertia
        ixx="2.37877298337049E-05"
        ixy="-4.69195441128232E-09"
        ixz="-5.26909185423461E-08"
        iyy="3.41945671202783E-05"
        iyz="4.18783052774254E-10"
        izz="5.61602575377852E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="yuntai">
    <inertial>
      <origin
        xyz="4.79226458516627E-05 4.64704444675529E-06 0.00964528811035716"
        rpy="0 0 0" />
      <mass
        value="0.10124390270621" />
      <inertia
        ixx="1.42122615453833E-05"
        ixy="1.03843126930758E-07"
        ixz="3.05080283844164E-19"
        iyy="0.000297591413392526"
        iyz="1.22599577202126E-19"
        izz="0.000304591907863365" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="yuntai.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="yuntai.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="yuntai"
    type="revolute">
    <origin
      xyz="0 0 0.0565"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="yuntai" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="10"
      velocity="10" />
  </joint>
  <link
    name="left1">
    <inertial>
      <origin
        xyz="0.0866316701389907 0.0108088257221086 0.0203964571498735"
        rpy="0 0 0" />
      <mass
        value="0.0724494118638427" />
      <inertia
        ixx="1.56579468201165E-05"
        ixy="8.08656112402772E-07"
        ixz="2.21273720043906E-06"
        iyy="4.5949640630926E-05"
        iyz="4.57042647800357E-07"
        izz="3.86923827627708E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="left1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="left1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left1"
    type="revolute">
    <origin
      xyz="-0.165 0.00625 0.01"
      rpy="1.5708 0 0" />
    <parent
      link="yuntai" />
    <child
      link="left1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="10"
      velocity="10" />
  </joint>
  <link
    name="left2">
    <inertial>
      <origin
        xyz="0.178348318618332 -8.40190972350996E-10 -0.00507432686743625"
        rpy="0 0 0" />
      <mass
        value="0.0594508258557591" />
      <inertia
        ixx="8.83718900466966E-06"
        ixy="6.57687563080586E-13"
        ixz="1.52335567782272E-07"
        iyy="4.91263271010238E-05"
        iyz="-3.74306623710152E-13"
        izz="4.5031837913994E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="left2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="left2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left2"
    type="revolute">
    <origin
      xyz="0.14795 0.02 0.00935"
      rpy="0 0 -3.1416" />
    <parent
      link="left1" />
    <child
      link="left2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="10"
      velocity="10" />
  </joint>
  <link
    name="left3">
    <inertial>
      <origin
        xyz="0.0546460458217438 0.000352821835570366 -0.0255515985489675"
        rpy="0 0 0" />
      <mass
        value="0.0717898152307374" />
      <inertia
        ixx="3.59837239679069E-05"
        ixy="4.94697293520157E-06"
        ixz="-5.26054001267702E-07"
        iyy="4.52279808959423E-05"
        iyz="-1.71037224809756E-07"
        izz="3.11740032099197E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="left3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="left3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left3"
    type="revolute">
    <origin
      xyz="0.213 0 0.0229"
      rpy="0 0 1.5708" />
    <parent
      link="left2" />
    <child
      link="left3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="10"
      velocity="10" />
  </joint>
  <link
    name="left4">
    <inertial>
      <origin
        xyz="-0.0213546888236643 -2.77555756156289E-17 -5.55111512312578E-17"
        rpy="0 0 0" />
      <mass
        value="0.098687873771068" />
      <inertia
        ixx="1.55691033654856E-05"
        ixy="6.02828591679511E-22"
        ixz="9.30147745187075E-21"
        iyy="2.00162772748723E-05"
        iyz="-3.3881317890172E-21"
        izz="2.00162772748723E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="left4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="left4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left4"
    type="fixed">
    <origin
      xyz="0.1058 0.0275 -0.026"
      rpy="3.1416 0 0" />
    <parent
      link="left3" />
    <child
      link="left4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right1">
    <inertial>
      <origin
        xyz="0.0866316701389893 0.0108088257221104 0.0203964571498706"
        rpy="0 0 0" />
      <mass
        value="0.0724494118638428" />
      <inertia
        ixx="1.56579468201166E-05"
        ixy="8.08656112402829E-07"
        ixz="2.21273720043918E-06"
        iyy="4.59496406309261E-05"
        iyz="4.57042647800623E-07"
        izz="3.86923827627708E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="right1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="right1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right1"
    type="revolute">
    <origin
      xyz="0.165 -0.00625 0.01"
      rpy="1.5708 0 3.1416" />
    <parent
      link="yuntai" />
    <child
      link="right1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="10"
      velocity="10" />
  </joint>
  <link
    name="right2">
    <inertial>
      <origin
        xyz="0.178348318624939 1.31277283488274E-09 0.00507432710242385"
        rpy="0 0 0" />
      <mass
        value="0.059450825942565" />
      <inertia
        ixx="8.83718890901745E-06"
        ixy="-8.75582403248343E-13"
        ixz="-1.52335729337375E-07"
        iyy="4.9126326746524E-05"
        iyz="-1.17657231770686E-12"
        izz="4.50318381903904E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="right2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="right2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right2"
    type="revolute">
    <origin
      xyz="0.14795 0.02 0.00935"
      rpy="-3.1416 0 -3.1416" />
    <parent
      link="right1" />
    <child
      link="right2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="10"
      velocity="10" />
  </joint>
  <link
    name="right3">
    <inertial>
      <origin
        xyz="0.0552233778617137 -0.000356549376091225 0.0258194078186913"
        rpy="0 0 0" />
      <mass
        value="0.0710392896004507" />
      <inertia
        ixx="3.59647100183011E-05"
        ixy="-4.94697293520157E-06"
        ixz="5.26054001267607E-07"
        iyy="4.52089669463365E-05"
        iyz="-1.71037224810022E-07"
        izz="3.1137418350727E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="right3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="right3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right3"
    type="revolute">
    <origin
      xyz="0.213 0 -0.0229"
      rpy="0 0 -1.5708" />
    <parent
      link="right2" />
    <child
      link="right3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="10"
      velocity="10" />
  </joint>
  <link
    name="right4">
    <inertial>
      <origin
        xyz="-0.0213546888236643 0 -2.77555756156289E-17"
        rpy="0 0 0" />
      <mass
        value="0.098687873771068" />
      <inertia
        ixx="1.55691033654856E-05"
        ixy="1.18916728189152E-21"
        ixz="1.70362808084513E-22"
        iyy="2.00162772748723E-05"
        iyz="0"
        izz="2.00162772748723E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="right4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="right4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right4"
    type="fixed">
    <origin
      xyz="0.1058 -0.0274999999999999 0.0260000000000004"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="right3" />
    <child
      link="right4" />
    <axis
      xyz="0 -0.693904698830335 -0.720066850327927" />
  </joint>
</robot>
