<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="5.142525半成品直驱机械臂装配体urdf夹爪">
    <ros2_control name="arm_hw" type="system">
    <hardware>
      <plugin>mujoco_ros2_control/MujocoSystem</plugin>
    </hardware>

    <joint name="joint1">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint2">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint3">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint4">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint5">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint6">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint7">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
  <link name="world"/>
  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0047868 0.025093 0.014991"
        rpy="0 0 0" />
      <mass
        value="1.0128" />
      <inertia
        ixx="0.006251"
        ixy="-0.00058469"
        ixz="-3.3681E-08"
        iyy="0.0038405"
        iyz="-5.8106E-08"
        izz="0.010062" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.29412 0.29412 0.29412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="-3.834E-06 0.00099634 0.027176"
        rpy="0 0 0" />
      <mass
        value="1.7203" />
      <inertia
        ixx="0.0039661"
        ixy="2.4854E-08"
        ixz="3.5046E-08"
        iyy="0.0041329"
        iyz="-1.0291E-05"
        izz="0.0069051" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.0525"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0.19103 4.3241E-07 0.030685"
        rpy="0 0 0" />
      <mass
        value="0.78781" />
      <inertia
        ixx="0.00049607"
        ixy="2.2767E-06"
        ixz="-6.3321E-05"
        iyy="0.012262"
        iyz="-9.6907E-09"
        izz="0.012434" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.29412 0.29412 0.29412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0.02652 0.122"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.27282 0.00017643 0.029032"
        rpy="0 0 0" />
      <mass
        value="0.49488" />
      <inertia
        ixx="0.00015639"
        ixy="9.6181E-07"
        ixz="3.8519E-06"
        iyy="0.0050077"
        iyz="-1.0671E-06"
        izz="0.0051272" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.5 0 0.0445"
      rpy="0 0 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.9"
      upper="2.9"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="0.065717 -0.029406 -0.025734"
        rpy="0 0 0" />
      <mass
        value="0.23664" />
      <inertia
        ixx="0.00020889"
        ixy="6.1006E-06"
        ixz="7.4535E-08"
        iyy="0.00017366"
        iyz="-2.7341E-08"
        izz="0.0002123" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.29412 0.29412 0.29412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.50964 0 0.0085"
      rpy="-3.141 0 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.0"
      upper="1.3"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="0.06728 -0.028292 -0.034778"
        rpy="0 0 0" />
      <mass
        value="0.40058" />
      <inertia
        ixx="0.00018939"
        ixy="-3.2374E-05"
        ixz="-1.1426E-06"
        iyy="0.00012642"
        iyz="3.6678E-06"
        izz="0.00019633" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.29412 0.29412 0.29412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.072118 -0.049671 -0.02685"
      rpy="1.5708 -0.34 0" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.43"
      upper="0.43"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="-7.51954054578619E-13 -3.33438832100796E-12 0.00904231406311307"
        rpy="0 0 0" />
      <mass
        value="0.0254009547015186" />
      <inertia
        ixx="5.3634214300996E-06"
        ixy="-1.53986690037065E-21"
        ixz="-2.05046700634321E-21"
        iyy="5.3634214300996E-06"
        iyz="3.07049443379684E-21"
        izz="5.08093890442717E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.048576 -0.019247 -0.04625"
      rpy="0.377 -1.5708 2.415" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1"
      upper="1"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="Link7">
    <inertial>
      <origin
        xyz="-0.012808 0.011896 -0.0076319"
        rpy="0 0 0" />
      <mass
        value="0.23387" />
      <inertia
        ixx="4.273E-05"
        ixy="-8.3213E-07"
        ixz="-9.9615E-07"
        iyy="0.00011389"
        iyz="1.7662E-09"
        izz="9.0872E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.54902 1 0.92157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7"
    type="fixed">
    <origin
      xyz="0.0075 0.0015 0.06595"
      rpy="0 -1.5708 0" />
    <parent
      link="Link6" />
    <child
      link="Link7" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="end_effector">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.001" />
      <inertia
        ixx="1e-8"
        ixy="0.0"
        ixz="0.0"
        iyy="1e-8"
        iyz="0.0"
        izz="1e-8" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <sphere
          radius="0.015" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
  </link>
  <joint
    name="joint8"
    type="fixed">
    <origin
      xyz="0 0 0.02"
      rpy="0 0 0" />
    <parent
      link="Link7" />
    <child
      link="end_effector" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
