<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
name="arm">
<ros2_control name="arm_hw" type="system">
<hardware>
<plugin>mujoco_ros2_control/MujocoSystem</plugin>
</hardware>
<joint name="joint1">
<command_interface name="effort"/>
<state_interface name="position"/>
<state_interface name="velocity"/>
<state_interface name="effort"/>
</joint>
<joint name="joint2">
<command_interface name="effort"/>
<state_interface name="position"/>
<state_interface name="velocity"/>
<state_interface name="effort"/>
</joint>
<joint name="joint3">
<command_interface name="effort"/>
<state_interface name="position"/>
<state_interface name="velocity"/>
<state_interface name="effort"/>
</joint>
<joint name="joint4">
<command_interface name="effort"/>
<state_interface name="position"/>
<state_interface name="velocity"/>
<state_interface name="effort"/>
</joint>
<joint name="joint5">
<command_interface name="effort"/>
<state_interface name="position"/>
<state_interface name="velocity"/>
<state_interface name="effort"/>
</joint>
</ros2_control>
<!-- 虚拟根链接，解决KDL根链接惯量问题 -->
<link name="world"/>
<joint name="world_to_base" type="fixed">
<parent link="world"/>
<child link="base_link"/>
<origin xyz="0 0 0" rpy="0 0 0"/>
</joint>
<link
name="base_link">
<inertial>
<origin
xyz="0 0 0"
rpy="0 0 0" />
<mass
value="0.21159" />
<inertia
ixx="0.00020774"
ixy="-7.7078E-19"
ixz="8.0342E-20"
iyy="0.00061533"
iyz="3.7596E-19"
izz="0.00081506" />
</inertial>
<visual>
<origin
xyz="0 0 0"
rpy="0 0 0" />
<geometry>
<mesh
filename="package://arm/model/base_link.STL" />
</geometry>
<material
name="">
<color
rgba="1 1 1 1" />
</material>
</visual>
<collision>
<origin
xyz="0 0 0"
rpy="0 0 0" />
<geometry>
<mesh
filename="package://arm/model/base_link.STL" />
</geometry>
</collision>
</link>
<link
name="link1">
<inertial>
<origin
xyz="-0.0270415941057808 -0.0113781706888075 0.0107858843210485"
rpy="0 0 0" />
<mass
value="0.713591271917209" />
<inertia
ixx="0.000637467760387352"
ixy="-7.2554213118356E-07"
ixz="4.30699592947537E-07"
iyy="0.0028203215814317"
iyz="1.43756264811675E-07"
izz="0.00325749755930406" />
</inertial>
<visual>
<origin
xyz="0 0 0"
rpy="0 0 0" />
<geometry>
<mesh
filename="package://arm/model/link1.STL" />
</geometry>
<material
name="">
<color
rgba="1 1 1 1" />
</material>
</visual>
<collision>
<origin
xyz="0 0 0"
rpy="0 0 0" />
<geometry>
<mesh
filename="package://arm/model/link1.STL" />
</geometry>
</collision>
</link>
<joint
name="joint1"
type="revolute">
<origin
xyz="0 0 0.032"
rpy="0 0 0" />
<parent
link="base_link" />
<child
link="link1" />
<axis
xyz="0 0 -1" />
<limit
lower="0"
upper="0"
effort="0"
velocity="0" />
</joint>
<link
name="link2">
<inertial>
<origin
xyz="0.136566817059374 0.000474912537142935 0.0163580891972295"
rpy="0 0 0" />
<mass
value="0.16131257849395" />
<inertia
ixx="1.87509766090534E-05"
ixy="-8.62739338161089E-11"
ixz="-4.30813407159611E-11"
iyy="0.000648610398973837"
iyz="-1.30665760180076E-10"
izz="0.000648251537870724" />
</inertial>
<visual>
<origin
xyz="0 0 0"
rpy="0 0 0" />
<geometry>
<mesh
filename="package://arm/model/link2.STL" />
</geometry>
<material
name="">
<color
rgba="1 1 1 1" />
</material>
</visual>
<collision>
<origin
xyz="0 0 0"
rpy="0 0 0" />
<geometry>
<mesh
filename="package://arm/model/link2.STL" />
</geometry>
</collision>
</link>
<joint
name="joint2"
type="revolute">
<origin
xyz="0.3029 -0.0175 0.0075"
rpy="-1.5708 -3.14159 0" />
<parent
link="link1" />
<child
link="link2" />
<axis
xyz="0 0 1" />
<limit
lower="0"
upper="0"
effort="0"
velocity="0" />
</joint>
<link
name="link3">
<inertial>
<origin
xyz="0.0914999999999994 -0.0149999999999989 -0.0257238709280117"
rpy="0 0 0" />
<mass
value="0.0902003371394342" />
<inertia
ixx="1.15901052313503E-05"
ixy="1.09326135633234E-09"
ixz="6.89088639472312E-20"
iyy="0.000103358364560746"
iyz="5.37977463091731E-21"
izz="9.68421456996349E-05" />
</inertial>
<visual>
<origin
xyz="0 0 0"
rpy="0 0 0" />
<geometry>
<mesh
filename="package://arm/model/link3.STL" />
</geometry>
<material
name="">
<color
rgba="1 1 1 1" />
</material>
</visual>
<collision>
<origin
xyz="0 0 0"
rpy="0 0 0" />
<geometry>
<mesh
filename="package://arm/model/link3.STL" />
</geometry>
</collision>
</link>
<joint
name="joint3"
type="revolute">
<origin
xyz="0.349 0.0025 0.0435"
rpy="0 0 3.14159" />
<parent
link="link2" />
<child
link="link3" />
<axis
xyz="0 0 -1" />
<limit
lower="0"
upper="0"
effort="0"
velocity="0" />
</joint>
<link
name="link4">
<inertial>
<origin
xyz="0.0450437625138639 0.0176747223555462 -0.026279729937213"
rpy="0 0 0" />
<mass
value="0.0295188270468399" />
<inertia
ixx="2.37912898711209E-05"
ixy="-6.49419858489626E-06"
ixz="5.1857202637243E-07"
iyy="3.67184243588932E-05"
iyz="2.01702147083531E-07"
izz="2.24518403136716E-05" />
</inertial>
<visual>
<origin
xyz="0 0 0"
rpy="0 0 0" />
<geometry>
<mesh
filename="package://arm/model/link4.STL" />
</geometry>
<material
name="">
<color
rgba="1 1 1 1" />
</material>
</visual>
<collision>
<origin
xyz="0 0 0"
rpy="0 0 0" />
<geometry>
<mesh
filename="package://arm/model/link4.STL" />
</geometry>
</collision>
</link>
<joint
name="joint4"
type="revolute">
<origin
xyz="0.183 -0.03 0"
rpy="0 0 -1.5708" />
<parent
link="link3" />
<child
link="link4" />
<axis
xyz="0 0 1" />
<limit
lower="0"
upper="0"
effort="0"
velocity="0" />
</joint>
<link
name="link5">
<inertial>
<origin
xyz="-0.0257680871697017 -1.99840144432528E-15 2.88657986402541E-15"
rpy="0 0 0" />
<mass
value="0.00753040773327418" />
<inertia
ixx="2.43472528769745E-07"
ixy="-4.67055766227834E-23"
ixz="-8.81719196972221E-23"
iyy="1.52151744372979E-06"
iyz="-2.14065295240774E-23"
izz="1.52151744372979E-06" />
</inertial>
<visual>
<origin
xyz="0 0 0"
rpy="0 0 0" />
<geometry>
<mesh
filename="package://arm/model/link5.STL" />
</geometry>
<material
name="">
<color
rgba="1 1 1 1" />
</material>
</visual>
<collision>
<origin
xyz="0 0 0"
rpy="0 0 0" />
<geometry>
<mesh
filename="package://arm/model/link5.STL" />
</geometry>
</collision>
</link>
<joint
name="joint5"
type="fixed">
<origin
xyz="0.0928 0.027656 -0.026"
rpy="-3.1416 0 0" />
<parent
link="link4" />
<child
link="link5" />
<axis
xyz="0 0 0" />
<limit
lower="-3.14"
upper="3.14"
effort="100"
velocity="1" />
</joint>
</robot>